.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-right: 5%;
    margin-left: 5%;

   

}
.acount{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 20px;
    background-color: rgb(255, 115, 0);
    color:wheat;
    border-radius: 50%;
    font-size: 10px;
}
.btn-icon{
   border: none;
   background: none;
}
