.container{
    margin-top:50px;
    display: flex;
    flex-wrap: wrap;
    align-items:center ;
    justify-content: space-between;
   
    width: 90%;
    height: 70vh;
    border-radius:16px ;
    margin-left: 5%;
}
.containerDetails{
 
    display: flex;
   margin-right:20%;
   margin-bottom: 10%;
    flex-direction: column;
   justify-content: center;
   width: 50%;
    
   
}
h2{
    display: flex;
    justify-content: center;
    color: #888;
    font-size:42px ;
    font-weight: 400px;
    text-transform: uppercase;
}
.btns{
   
    width: 100%;
    display: flex;
    justify-content: center;
}
.trailer > a {
    text-decoration: none;
    color: brown;

}
.trailer > a:hover {
    font-size: 17px;
color:yellowgreen;

}