.btn-close {
  margin-top: 5%;
  margin-right: 5%;
  border: none;
  background: none;
  cursor: pointer;
}
.div-icon-close {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: end;
}

.body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width: 30%;
  height: 80%;
  background: white;
  border: 2px solid rgb(150, 148, 148);
  border-radius: 10px;
  box-shadow: 5px;
  padding: 2px 4px 3px;
}
