
  
 .btn-close{
  border: none;
  background: none;
  cursor: pointer;
    

 }

.modal{
    position: absolute;
    top:10%;
    left: 40%;
    width: 400px;
    height: 70%;
    background: white ;
    border: 2px solid #000;
    box-Shadow: 5px;
    padding: 2px 4px 3px;
  
}